<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @item.desc %>
</p>

<p>
  <b>Deposit:</b>
  <%=h @item.deposit %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
