<html>
	
	<head>
		<title>IDYLE.NET - <% unless @title %>Home<% else %><%= @title %><% end %></title>
		<%= stylesheet_link_tag 'idyle' %>
		<%= stylesheet_link_tag 'ui/jquery-ui.css' %>
		
		<%= javascript_include_tag 'jquery-1.3.2.min.js' %>
		<%= javascript_include_tag 'jrails' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'jquery-ui-1.7.1.custom.min.js' %>
		<%= javascript_include_tag 'jquery.url.js' %>
		<%= yield :head %>
		
		<script type="text/javascript">
		
			var pages = []
		
			$(document).ready(function(){
				
				// get our current title
				doc = $(this)
				currentTitle = doc.attr('title')
				splitter = ' - '
				split = currentTitle.split(splitter)
				prefix = split[0]
				
				// make sure to label the first page
				activePage = 'index'
				
				// get loading element
				loading = $('#loading')

				// make each nav link load the content of that page into the #page element
				$('#navigation a').click(function(){
					link = $(this)
					href = link.attr('href')

					// temp loading
					loading.show()

					var pageHandle = href.slice(1, href.length).replace(/\//g, '_')
					pageHandle = pageHandle == '' ? 'index' : pageHandle
					
					// new page
					var page = $('#' + pageHandle)

					// did we already load this page?
					if(page.length)
					{
						// serve up the cache
						swapContent(pageHandle)
					} else {
						$.get(href, function(d){ 
							newPage = $('<div class="page"></div>').attr('id', pageHandle).html(d).css('display', 'none')
							$('#pages').append(newPage)
							swapContent(pageHandle)
						 })
					}

					// don't let the normal link work
					return false				
				})
				
				function swapContent(handle){

					$('#' + activePage).hide('slow', function(){
						$('#' + handle).show('slow')
						loading.hide()
						activePage = handle
						doc.attr("title", prefix + splitter + $('#' + activePage + ' h2.page_title').html());
					})
					
				}
				
				// page specific loading code
				<%= yield :document_ready %>
			})
		</script>
		
		
	</head>
	
	<body>
		<div id="container">
			<div id="header">
				<h1><a href="/">IDYLE.NET</a></h1>
				<br clear="both">
			</div>
		
			<div id="navigation">
				<a href="/">Home</a>
				<a href="/farm">The Farm</a>
				<a href="/work">Projects</a>
				<a href="/ideas">Things I Want To Build</a>
				<a href="/permaculture">Sustainable Life</a>
				<a href="/about">About IDYLE</a>
				<a href="/links">Linkage</a>
				<br clear="both">
			</div>
		
			<div id="sill">
				<div id="loading"><img src="images/loading.gif"></img></div>
			</div>
			<div id="content">				
				
				<div id="pages">
					<div class="page" id="index"><%= yield %></div>
				</div>
				<br clear="both"/>
			</div>
		
			<div id="footer">
				<p>Copystraight 2009 IDYLE.NET</p>
			</div>
		</div>
	</body>
	
</html>