<html>
	
	<head>
		<title>IDYLE.NET - <% unless @title %>Home<% else %><%= @title %><% end %></title>
		<%= stylesheet_link_tag 'idyle' %>
		<%= javascript_include_tag 'jquery' %>
		<%= javascript_include_tag 'jrails' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'jquery.cycle.all.min.js' %>
		<%= javascript_include_tag 'ui/jquery.ui.all.js' %>
		<%= javascript_include_tag 'principle_spinner' %>
		<%= javascript_include_tag 'jquery.url.js' %>
		<%= yield :head %>
		
		<script type="text/javascript">
			$(document).ready(function(){
				<%= yield :document_ready %>
			})
		</script>
		
	</head>
	
	<body>
		<div id="container">
			<div id="header">
								
				<h1><a href="/">IDYLE.NET</a></h1>
				
				<ol id="principles">
					<li>Quality over Quantity</li>
					<li>Lead by Example</li>
				</ol>
				
				<br clear="both">
			</div>			
		
			<div id="navigation">
				<a href="/">Home</a>
				<a href="/work">Portfolio</a>
				<a href="/ideas">Ideas</a>
				<a href="/permaculture">Permaculture</a>
				<a href="/links">Links</a>
				<br clear="both">
			</div>
		
			<div id="content">
			
				<h2><%= @title %></h2>
				
				<%= yield %>
			
				<br clear="both"/>
			</div>
		
			<div id="footer">
				<p>Copystraight 2009 IDYLE.NET</p>
			</div>
		</div>
	</body>
	
</html>